<?xml version="1.0"?>
<launch>
  <node name="interaction_marker" pkg="interaction_marker" type="interaction_marker_node">
    <remap from="tf" to="tf_opc"/>
  </node>

<!-- tf publisher odom map -->
<!-- other important nodes -->

<!-- mdoe switch + visualizing -->


<!-- interaction_marker:
          enabled: true
          name: interaction_marker
        pharos_map_editor:
          enabled: true
          name: pharos_map_editor
        play_audio:
          enabled: true
          name: play_audio
        rqt_gui:
          enabled: true
          name: rqt_gui
        rviz_image_floorplan:
          enabled: true
          name: rviz_image_floorplan
        slam_maps_transformer:
          enabled: true
          name: slam_maps_transformer
        tf_opc_relay:
          enabled: true
          name: tf_opc_relay

-->

<!-- 
  interaction_marker:
  control_lease:
    subscribers:
      user_interaction_mode: /user_interaction_mode_manager/current_mode
  description: Interaction Marker
  execute_mission:
    <<: *behavior_engine_execute_mission_controller_gui
  global_frame_id: map
  initial_pose_fallback:
    position:
      x: 0.0
      y: 0.0
      z: 0.5
    orientation:
      w: 1.0
      x: 0.0
      y: 0.0
      z: 0.0
  initial_reset_timeout: 5.0
  marker_frame_id: base
  mesh_resource: package://anymal_d/urdf/marker.dae
  name: interaction_marker
  plugin_setup:
    plugins:
      12_publish_point_cloud:
        parameters:
          entry_text: Toggle publish point cloud
          point_cloud_publishing_service_client: "/slam_supervisor/publish_point_cloud_marker"
        type: interaction_marker_plugin_publish_point_cloud::InteractionMarkerPluginPublishPointCloud
      20_set_localization_initial_guess:
        parameters:
          auto_control_required: false
          entry_text: Set localization initial guess
          pose_frame_id: map
          publishers:
            pose:
              latch: false
              queue_size: 1
              topic: /gui/interaction_marker/localization_initial_guess
        type: interaction_marker_plugin_publish_pose::InteractionMarkerPluginPublishPose
      50_plan_path_to_here_straight_line:
        parameters:
          auto_control_required: false
          entry_text: Plan Path to Here (Straight Line)
          pose_frame_id: map
          actions:
            plan_path:
              topic: /path_planning_and_following/plan_path
              use_spin_thread: true
          navigation_goal:
            tolerance:
              rotation: 0.16
              translation: 0.1
          route_option: Straight Line
        type: interaction_marker_plugin_navigation_manager::InteractionMarkerPluginPlanPathToHere
      51_plan_path_to_here_along_waypoints:
        parameters:
          auto_control_required: false
          entry_text: Plan Path to Here (Along Waypoints)
          pose_frame_id: map
          actions:
            plan_path:
              topic: /path_planning_and_following/plan_path
              use_spin_thread: true
          navigation_goal:
            tolerance:
              rotation: 0.16
              translation: 0.1
          route_option: Along Waypoints
        type: interaction_marker_plugin_navigation_manager::InteractionMarkerPluginPlanPathToHere
      52_go_here_straight_line:
        parameters:
          auto_control_required: true
          entry_text: Go Here (Straight Line)
          environment_object_template:
            label: Goal
            name: InteractiveMarkerNavigationGoal
            pose:
              tolerance:
                rotation: 0.16
                translation: 0.1
            type: navigation_goal
          pose_frame_id: map
          publishers:
            user_defined_state:
              latch: false
              queue_size: 1
              topic: /gui/behavior_engine/execute_state/start_state
          state:
            name:
              postfix: StraightLine
              prefix: GoTo
            settings:
              - parameter_name: navigation_goal
                parameter_type: NavigationGoal
              - parameter_name: route_option
                parameter_type: RouteOption
                parameter_value: Straight Line
            type: navigation_behavior_plugins::ReactiveNavigation
        type: interaction_marker_plugin_mission::InteractionMarkerPluginMission
      53_go_here_along_waypoints:
        parameters:
          auto_control_required: true
          entry_text: Go Here (Along Waypoints)
          environment_object_template:
            label: Interactive Marker Navigation Goal
            name: InteractiveMarkerNavigationGoal
            pose:
              tolerance:
                rotation: 0.16
                translation: 0.1
            type: navigation_goal
          pose_frame_id: map
          state:
            name:
              postfix: AlongWaypoints
              prefix: GoTo
            settings:
              - parameter_name: navigation_goal
                parameter_type: NavigationGoal
              - parameter_name: route_option
                parameter_type: RouteOption
                parameter_value: Along Waypoints
            type: navigation_behavior_plugins::ReactiveNavigation
        type: interaction_marker_plugin_mission::InteractionMarkerPluginMission
-->

<!-- user_interaction_mode:
    clients:
      switch_mode: /user_interaction_mode_manager/switch_mode
    subscribers:
      current_mode: /user_interaction_mode_manager/current_mode

-->


  <!--/stack_launcher/nodes/interaction_marker/roslaunch/name
/stack_launcher/nodes/interaction_marker/roslaunch/node_type
/stack_launcher/nodes/interaction_marker/roslaunch/output
/stack_launcher/nodes/interaction_marker/roslaunch/package
/stack_launcher/nodes/interaction_marker/roslaunch/remap_args/tf/from
/stack_launcher/nodes/interaction_marker/roslaunch/remap_args/tf/to-->
  <!-- todo joystick -->
</launch>