<?xml version="1.0"?>
<launch>
  <arg name="robot_type" default="$(optenv DEFAULT_ROBOT_TYPE asterix)" />
  <arg name="rviz_config" default="$(find hector_user_interface_launch)/rviz/$(arg robot_type).rviz"/>
  <arg name="fullscreen" default="false"/>

  <arg name="fullscreen_param" value="--fullscreen" if="$(arg fullscreen)"/>
  <arg name="fullscreen_param" value="" unless="$(arg fullscreen)"/>

  <node pkg="rviz" type="rviz" name="$(anon rviz_hector_ui)"
        args="$(arg fullscreen_param) -d $(arg rviz_config) -s $(find hector_user_interface_launch)/media/splash.png"
        respawn="true">
    <!-- <env name="QT_FONT_DPI" value="96"/> -->
  </node>

  <node ns="hector_grid_map_compression" name="$(anon grid_map_compression_client)" type="hector_grid_map_compression_client" pkg="hector_grid_map_compression" output="screen">
    <remap from="~input" to="/hector_grid_map_compression/img"/>
    <remap from="~output" to="~/uncompressed"/>
    <param name="~layer" value="elevation"/>
  </node>

  <node pkg="rosapi" type="rosapi_node" name="$(anon rosapi_node)"/>

  <include file="$(find hector_user_interface_launch)/launch/joystick.launch"/>

  <include file="$(find hector_user_interface_launch)/launch/anymal.launch"
    if="$(eval arg('robot_type') == 'kiara_anymal')"/>
</launch>
